{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "LogsManageZenithGroups",
      "Effect": "Allow",
      "Action": [
        "logs:CreateLogGroup",
        "logs:DeleteLogGroup",
        "logs:PutRetentionPolicy",
        "logs:DeleteRetentionPolicy",
        "logs:TagResource",
        "logs:UntagResource"
      ],
      "Resource": [
        "arn:${partition}:logs:*:${account_id}:log-group:/zenith/*",
        "arn:${partition}:logs:*:${account_id}:log-group:/aws/*/zenith-*"
      ]
    },
    {
      "Sid": "CloudWatchAlarmsZenith",
      "Effect": "Allow",
      "Action": [
        "cloudwatch:PutMetricAlarm",
        "cloudwatch:DeleteAlarms",
        "cloudwatch:EnableAlarmActions",
        "cloudwatch:DisableAlarmActions",
        "cloudwatch:TagResource",
        "cloudwatch:UntagResource"
      ],
      "Resource": "arn:${partition}:cloudwatch:*:${account_id}:alarm:zenith-*"
    },
    {
      "Sid": "AcmRequestTaggedCertificates",
      "Effect": "Allow",
      "Action": [
        "acm:RequestCertificate",
        "acm:AddTagsToCertificate"
      ],
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          "aws:RequestTag/zenith:managed": "true"
        }
      }
    },
    {
      "Sid": "AcmManageTaggedCertificates",
      "Effect": "Allow",
      "Action": [
        "acm:DeleteCertificate",
        "acm:AddTagsToCertificate",
        "acm:RemoveTagsFromCertificate",
        "acm:UpdateCertificateOptions"
      ],
      "Resource": "arn:${partition}:acm:*:${account_id}:certificate/*",
      "Condition": {
        "StringEquals": {
          "aws:ResourceTag/zenith:managed": "true"
        }
      }
    }
  ]
}
