{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "autoscaling:DescribeAutoScalingGroups",
        "ec2:DescribeInstances",
        "ec2:DescribeRouteTables",
        "ec2:DescribeSecurityGroups",
        "ec2:DescribeSubnets",
        "ec2:DescribeVolumes",
        "ec2:DescribeVolumesModifications",
        "ec2:DescribeVpcs",
        "ec2:DescribeDhcpOptions",
        "ec2:DescribeNetworkInterfaces",
        "ec2:DescribeAvailabilityZones",
        "ec2:DescribeAccountAttributes",
        "ec2:DescribeAddresses",
        "ec2:DescribeInternetGateways",
        "ec2:DescribeInstanceTopology",
        "elasticloadbalancing:DescribeListeners",
        "elasticloadbalancing:DescribeLoadBalancerAttributes",
        "elasticloadbalancing:DescribeLoadBalancerPolicies",
        "elasticloadbalancing:DescribeLoadBalancers",
        "elasticloadbalancing:DescribeTargetGroupAttributes",
        "elasticloadbalancing:DescribeTargetGroups",
        "elasticloadbalancing:DescribeTargetHealth"
      ],
      "Resource": "*",
      "Condition": {
        "ArnLike": {
          "aws:PrincipalArn": [
            "arn:${partition}:iam::${account_id}:role/zenith-*-cluster"
          ]
        }
      }
    },
    {
      "Effect": "Allow",
      "Action": [
        "ec2:AttachVolume",
        "ec2:AuthorizeSecurityGroupIngress",
        "ec2:CreateRoute",
        "ec2:CreateSecurityGroup",
        "ec2:CreateTags",
        "ec2:CreateVolume",
        "ec2:DeleteRoute",
        "ec2:DeleteSecurityGroup",
        "ec2:DeleteVolume",
        "ec2:DetachVolume",
        "ec2:ModifyInstanceAttribute",
        "ec2:ModifyVolume",
        "ec2:RevokeSecurityGroupIngress"
      ],
      "Resource": [
        "arn:${partition}:ec2:*:${account_id}:instance/*",
        "arn:${partition}:ec2:*:${account_id}:volume/*",
        "arn:${partition}:ec2:*:${account_id}:security-group/*",
        "arn:${partition}:ec2:*:${account_id}:route-table/*",
        "arn:${partition}:ec2:*:${account_id}:subnet/*",
        "arn:${partition}:ec2:*:${account_id}:vpc/*",
        "arn:${partition}:ec2:*:${account_id}:network-interface/*"
      ],
      "Condition": {
        "ArnLike": {
          "aws:PrincipalArn": [
            "arn:${partition}:iam::${account_id}:role/zenith-*-cluster"
          ]
        }
      }
    },
    {
      "Effect": "Allow",
      "Action": "autoscaling:UpdateAutoScalingGroup",
      "Resource": "arn:${partition}:autoscaling:*:${account_id}:autoScalingGroup:*:autoScalingGroupName/eks-*",
      "Condition": {
        "ArnLike": {
          "aws:PrincipalArn": [
            "arn:${partition}:iam::${account_id}:role/zenith-*-cluster"
          ]
        }
      }
    },
    {
      "Effect": "Allow",
      "Action": [
        "elasticloadbalancing:AddTags",
        "elasticloadbalancing:ApplySecurityGroupsToLoadBalancer",
        "elasticloadbalancing:AttachLoadBalancerToSubnets",
        "elasticloadbalancing:ConfigureHealthCheck",
        "elasticloadbalancing:CreateListener",
        "elasticloadbalancing:CreateLoadBalancer",
        "elasticloadbalancing:CreateLoadBalancerListeners",
        "elasticloadbalancing:CreateLoadBalancerPolicy",
        "elasticloadbalancing:CreateTargetGroup",
        "elasticloadbalancing:DeleteListener",
        "elasticloadbalancing:DeleteLoadBalancer",
        "elasticloadbalancing:DeleteLoadBalancerListeners",
        "elasticloadbalancing:DeleteTargetGroup",
        "elasticloadbalancing:DeregisterInstancesFromLoadBalancer",
        "elasticloadbalancing:DeregisterTargets",
        "elasticloadbalancing:DetachLoadBalancerFromSubnets",
        "elasticloadbalancing:ModifyListener",
        "elasticloadbalancing:ModifyLoadBalancerAttributes",
        "elasticloadbalancing:ModifyTargetGroup",
        "elasticloadbalancing:ModifyTargetGroupAttributes",
        "elasticloadbalancing:RegisterInstancesWithLoadBalancer",
        "elasticloadbalancing:RegisterTargets",
        "elasticloadbalancing:SetLoadBalancerPoliciesForBackendServer",
        "elasticloadbalancing:SetLoadBalancerPoliciesOfListener"
      ],
      "Resource": [
        "arn:${partition}:elasticloadbalancing:*:${account_id}:loadbalancer/*",
        "arn:${partition}:elasticloadbalancing:*:${account_id}:targetgroup/*",
        "arn:${partition}:elasticloadbalancing:*:${account_id}:listener/*",
        "arn:${partition}:elasticloadbalancing:*:${account_id}:listener-rule/*"
      ],
      "Condition": {
        "ArnLike": {
          "aws:PrincipalArn": [
            "arn:${partition}:iam::${account_id}:role/zenith-*-cluster"
          ]
        }
      }
    },
    {
      "Effect": "Allow",
      "Action": "iam:CreateServiceLinkedRole",
      "Resource": "arn:${partition}:iam::${account_id}:role/aws-service-role/elasticloadbalancing.amazonaws.com/*",
      "Condition": {
        "StringEquals": {
          "iam:AWSServiceName": "elasticloadbalancing.amazonaws.com"
        },
        "ArnLike": {
          "aws:PrincipalArn": [
            "arn:${partition}:iam::${account_id}:role/zenith-*-cluster"
          ]
        }
      }
    },
    {
      "Effect": "Allow",
      "Action": "ec2:DeleteNetworkInterface",
      "Resource": "arn:${partition}:ec2:*:${account_id}:network-interface/*",
      "Condition": {
        "StringEquals": {
          "ec2:ResourceTag/eks:eni:owner": "amazon-vpc-cni"
        },
        "ArnLike": {
          "aws:PrincipalArn": [
            "arn:${partition}:iam::${account_id}:role/zenith-*-cluster"
          ]
        }
      }
    },
    {
      "Effect": "Allow",
      "Action": "kms:DescribeKey",
      "Resource": "arn:${partition}:kms:*:${account_id}:key/*",
      "Condition": {
        "ArnLike": {
          "aws:PrincipalArn": [
            "arn:${partition}:iam::${account_id}:role/zenith-*-cluster"
          ]
        }
      }
    },
    {
      "Effect": "Deny",
      "Action": "*",
      "Resource": "*",
      "Condition": {
        "ArnNotLike": {
          "aws:PrincipalArn": [
            "arn:${partition}:iam::${account_id}:role/zenith-*-cluster"
          ]
        }
      }
    },
    {
      "Effect": "Deny",
      "Action": [
        "organizations:*",
        "account:*"
      ],
      "Resource": "*"
    },
    {
      "Effect": "Deny",
      "Action": "iam:*",
      "Resource": "*",
      "Condition": {
        "StringNotEqualsIfExists": {
          "iam:AWSServiceName": "elasticloadbalancing.amazonaws.com"
        }
      }
    },
    {
      "Effect": "Deny",
      "Action": "s3:*",
      "Resource": [
        "${state_bucket_arn}",
        "${state_bucket_arn}/*"
      ]
    }
  ]
}
