{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "WriteEnvironmentSecretValues",
      "Effect": "Allow",
      "Action": [
        "secretsmanager:DescribeSecret",
        "secretsmanager:PutSecretValue",
        "secretsmanager:UpdateSecretVersionStage"
      ],
      "Resource": [
        "arn:${partition}:secretsmanager:*:${account_id}:secret:zenith/${environment_tag_value}/*",
        "arn:${partition}:secretsmanager:*:${account_id}:secret:zenith/zenith-${environment_tag_value}-*"
      ],
      "Condition": {
        "StringEquals": {
          "aws:ResourceTag/zenith:managed": "true",
          "aws:PrincipalTag/zenith:capability": "secret.write"
        },
        "StringLike": {
          "aws:ResourceTag/zenith:environment": "${environment_tag_value}"
        }
      }
    }
  ]
}
